
/*

#square {
  width: 100px;
  height: 100px;
  background-color: green;
}


#rod {
  position: relative;
  margin-top: 50px;
  margin-left: 150px;
  width: 2px;
  height: 150px;
  border-radius: 5px;
  transform-origin: 50% 0%;
  transform: rotate(60deg);
  background-color: green;
}

#pivot {
  position: absolute;
  top: -5px;
  left: -3px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: black;
}

#ball {
  position: absolute;
  bottom: -10px;
  left: -10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: orange;
}

.segment {
  width: 0px;
  height: 25px;
  background-color: lime;
  float: left;
}

#body {
  width: 60px;
  height: 25px;
  border: solid grey 5px;
  float: left;
}

#head {
  width: 5px;
  height: 15px;
  margin-top: 10px;
  background-color: grey;
  float: left;
}

#progress {
  position: relative;
  top: 12px;
  left: 90px;
  font-size: 18px;
  font-weight: bold;
  color: green;
}

*/

div {
  width: 50px;
  height: 50px;
  top: 70px;
  left: 70px;
  background-color: green;
  position: absolute;
}

#box {
  background-color: lightgreen;
  border: solid darkorange 3px;
  margin-left: -3px;
  margin-top: -3px;
}










body {
  background-color:black;
}
